/* The Style for the error message in login or register */
.error {
    font-size: 1.563rem;
    color: #ff1a1a;
}

/* ********************************** */

/* General Form Styling */
.form-box {
    max-width: 50rem;

    margin-top: 10rem;
    background-color: #2c2f48;
    box-shadow: 0 0 4px #000;
    border-radius: 9px;
    padding: 4rem;

    gap: 5rem;
}

.form {
    gap: 2rem;
}

.form input,
.form textarea {
    border: none;
    box-shadow: inset 0 0 0 2px #161824;
    border-radius: 6px;
    padding: 1.5rem;
    font-size: 1.563rem;
    font-family: inherit;

    color: #fff;
    background-color: #1d203e;
}

.form-header {
    font-size: 3.815rem;
    font-weight: 700;
    letter-spacing: -0.5px;
}
