.header {
    background-color: #2c2f48;

    padding: 1rem;

    position: relative;

    width: 100vw;
}

/* The Logo Styling */
.logo-box {
    gap: 1rem;
}
.logo {
    width: 5rem;
    height: 5rem;

    border-radius: 50%;

    background-color: transparent;
}

.logo-text {
    font-size: 1.953rem;
}
/* ********************************** */

/* The Search Bar Styling */
.search-form {
    position: absolute;

    right: 50%;
    transform: translateX(50%);
    display: flex;
    align-items: center;
}

.search {
    cursor: pointer;

    font-family: inherit;
    font-size: 1.563rem;
    width: 40rem;

    color: inherit;
    background-color: #1d203e;

    padding: 1rem;
    border: none;
    border-radius: 100px;

    text-align: center;

    transition: all 0.3s;
}

.search:hover,
.search:focus {
    outline: none;
    background-color: #171a32;
}

.search-icon {
    position: absolute;
    left: 1rem;
    width: 2.4rem;
    height: 2.4rem;

    color: #ffffff80;
}

.search-modal {
    z-index: 10;
}

.search-modal .search {
    box-shadow: 0 0 4px #000;
    background-color: #1d203e;
}
/* ********************************** */

/* The Login Button Styling (Only For guest)*/
.header-login-button:link,
.header-login-button:visited {
    color: #fff;
    background-color: #1d203e;

    font-size: 1.953rem;
    font-weight: 700;

    padding: 1rem 2rem;

    border-radius: 8px;

    transition: all 0.3s;
}

.header-login-button:hover,
.header-login-button:active {
    background-color: #171a32;
}
/* ********************************** */

/* The use options styling (controlPanel , addPost , showPosts) (Only for logged in users) */
.user-options {
    width: 25rem;
    height: 100%;

    border-left: 1px solid #ffffff1a;

    position: absolute;

    right: 0;
}
.user-options-icon {
    width: 2.4rem;
    height: 2.4rem;

    /* stroke: #ffffff80; */
    color: #ffffff80;
}
